
.skill-division{
    display: flex;
}
.skill-p-container{
    margin-top: 15%;
}
.skill-heading{
    margin-top: 3%;
    margin-bottom: 3%;
}
.skill-bar{
    margin-bottom: 20%;
}
.percent{
    display: flex;
    justify-content: space-around;
}
.percent span{
    font-size: 2.5rem;
    font-weight: 500;
}
.left{
    background-color: yellow;
    width: 40vw;
    
}
.skill-desc{
    padding: 100px;
}
.right{
    width: 50vw;
}
.skills-acquire{
    width: 80%;
    height: 10px;
    margin: 18px;
    background-color: grey;
      border: 2px solid lightgray;
    border-radius:0.8rem;
    
  }
  .skills-acquire:hover{
      box-shadow: 0px 0px 10px 6px grey;
  }
  .wh{
      width: 60%;
      background-color: blue;
  }
  .percentage{
      
      height: inherit;
      border-bottom-left-radius: inherit;
      border-top-left-radius: inherit;
  }
  .skillname span{
      color: white;
      padding:5px 0px 0px 13px;
      font-family:-webkit-pictograph;
     
  }
  .java{
      width: 80%;
      background-color: red;
  }
  @media screen and (max-width : 768px) and (min-width : 310px){
      
    .skill-desc {
        padding: 22px;
    }
    .skill-division{
        display: block;
      }
     .left{
         width: 100vw;
         margin-left: 0;
     }
     .right{
         width: 100vw;
         margin-left: 2%;
         
     }
     .skill-para p{
         text-align: justify;
     }
  }